*{
	margin: 0;
	padding:  0;
	list-style: none;
	text-decoration: none;
}
body{
	background: #EBDCDA;
}
a{
	color: #000;
	font: normal 14px arial;
}
/*HEADER START*/
#header{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 2;
	margin: auto;
	background: #e9cbff;
}
#area-header{
	width: 1000px;
	height: 60px;
	margin: auto;
	background: #e9cbff;
}
.nav-header{
	width: 430px;
	float: right;
}
.nav-header a{
	color: #000;
	font: normal 14px arial;
	margin: 0 10px;
	line-height: 60px;
}
.nav-header a:hover{
	color: blue;
}
#fixa-header{
	width: 100%;
	height: 60px;
	clear: both;
}
/*HEADER END*/

/*FOOTER START*/
footer{
	width: 100%;
	height: 200px;
	padding-top: 2px;
	background-color: darkgrey;
}
#container-footer{
	width: 1000px;
	height: 200px;
	margin: 15px auto;
}
.nav-footer{
	width: 150px;
	float: left;
	margin: 0 10px;
}
.titulo-footer{
	width: 150px;
	font: bolder 14px arial;
	color: #065FBE;
	text-align: left;
	margin: 10px 0;
}
.nav-footer ul li{
	width: 150px;
	height: 20px;
	text-align: left;
}
.nav-footer ul li a{
	font: normal 12px;
	color: white;
}
/*FOOTER END*/

/*CONTAINER START*/
#container{
	width: 1000px;
	height: auto;
	background: #fff;
	margin: auto;
	padding: 1px;
}
#containerLogSign{
	width: 1000px;
	height: 500px;
	background: #fff;
	margin: auto;
	padding: 1px;
}
/*CONTAINER END*/

/*FEATURED PRODUCTS START*/
.bg-titulo{
	width: 340px;
	margin-top: 15px;
}
#loja-img{
	width: 1000px;
	height: 420px;
	margin: auto;
}
#container-loja{
	width: 672px;
	height: ;
	margin: auto;
}
.ajuste-produto{
	width: 220px;
	height: 15px;
	float: left;
	margin-top: 20px;
}
.texto-prod{
	font: normal 12px arial;
	margin: 0;
}
.destaque-preco{
	font: bolder 14px arial;
	color: red;
}
/*FEATURED PRODUCTS END*/

/*GALLERY START*/
.galeria-img{
	width: 150px;
	height: 150px;
}
/*GALLERY END*/